<% cookie_id = cookies[:campaign_id] %>
<% if cookie_id != nil %>
<% @tick_tracks = @tick_tracks.select {|obj| obj.campaign_id == Integer(cookie_id)} %>
<h2>Player Ticks</h2>

<div class="row well">
<% @PCtracks = @tick_tracks.select { |obj| (obj.isPC == true && obj.campaign.active == true) } %>
<% @PCtracks.sort!{ |a,b| a.name <=> b.name} %>
<% @PCtracks.each do |tick_track| %>
  <div class="span2 trackboxPC <%= (tick_track.tick >=10 ? "winded" : "tick" + tick_track.tick.to_s()) %> <%= "wound" + tick_track.wound.to_s() %>">
    <h4><%= link_to tick_track.name, edit_tick_track_path(tick_track) %><br></h4>
    <h1><%= tick_track.tick %><br></h1>
    <p><div class="btn-group">
      <a class="btn dropdown-toggle btn-mini" data-toggle="dropdown" href="#">Tick&nbsp;<span class="caret"></span></a>
    <ul class="dropdown-menu">
      <li><%= link_to 'Add 1', "/tick_tracks/#{tick_track.id}/incOne", :method => :put %></li>
      <li><%= link_to 'Add 2', "/tick_tracks/#{tick_track.id}/incTwo", :method => :put %></li>
      <li><%= link_to 'Add 3', "/tick_tracks/#{tick_track.id}/incThree", :method => :put %></li>
      <li><%= link_to 'Add 4', "/tick_tracks/#{tick_track.id}/incFour", :method => :put %></li>
      <li><%= link_to 'Add 5', "/tick_tracks/#{tick_track.id}/incFive", :method => :put %></li>
    </ul>
    </div>
    <%= link_to 'Wound', "/tick_tracks/#{tick_track.id}/woundCycle", :method => :put, :class => "btn btn-mini" %>
  </p>
  </div>
<% end %>
</div>

<h2>NPC Ticks</h2>

<div class="row well">
<% @NPCtracks = @tick_tracks.select { |obj| (obj.isPC == false && obj.campaign.active == true) } %>
<% @NPCtracks.sort!{ |a,b| a.name <=> b.name} %>
<% @NPCtracks.each do |tick_track| %>
  <div class="span2 trackboxNPC <%= (tick_track.tick >=10 ? "winded" : "tick" + tick_track.tick.to_s()) %> <%= "wound" + tick_track.wound.to_s() %>">
    <h4><%= link_to tick_track.name, edit_tick_track_path(tick_track) %><br></h4>
    <h1><%= tick_track.tick %><br></h1>
     <p><div class="btn-group">
      <a class="btn dropdown-toggle btn-mini" data-toggle="dropdown" href="#">Tick&nbsp;<span class="caret"></span></a>
    <ul class="dropdown-menu">
      <li><%= link_to 'Add 1', "/tick_tracks/#{tick_track.id}/incOne", :method => :put %></li>
      <li><%= link_to 'Add 2', "/tick_tracks/#{tick_track.id}/incTwo", :method => :put %></li>
      <li><%= link_to 'Add 3', "/tick_tracks/#{tick_track.id}/incThree", :method => :put %></li>
      <li><%= link_to 'Add 4', "/tick_tracks/#{tick_track.id}/incFour", :method => :put %></li>
      <li><%= link_to 'Add 5', "/tick_tracks/#{tick_track.id}/incFive", :method => :put %></li>
    </ul>
    </div>
    <%= link_to 'Wound', "/tick_tracks/#{tick_track.id}/woundCycle", :method => :put, :class => "btn btn-mini" %>
  </p>
  </div>
<% end %>
</div>

<div class ="mainbuttons">
  <%= link_to 'Advance Tick', "/decAll", :method => :post, :class => "btn btn-primary btn-large" %>
  <%= link_to 'New Tracker', new_tick_track_path, :class => "btn btn-large" %>
</div>
<% else %>
<div class= "nocampaign">
  <img src="https://dl.dropboxusercontent.com/u/17155569/stopwatch-s.gif"><br>
  <%= link_to 'Click Here to Select a Campaign', "/campaigns/", :class => "btn btn-large" %>  
</div>
<% end %>



