<h2>All Campaigns</h2>

<table class= "table table-hover table-condensed">
  <tr style="border-top: 0;">
    <th>Name</th>
    <th>Gm</th>
    <th>Active</th>
    <th>Actions</th>
    <th>Select Campaign</th>
  </tr>

<% @campaigns.each do |campaign| %>
  <tr>
    <td style="vertical-align:middle"><t3><%= campaign.name %></t3> </td>
    <td style="vertical-align:middle"><%= campaign.GM %></td>
    <td style="vertical-align:middle"><%= campaign.active %></td>
    <td style="vertical-align:middle"><span class="btn-group"><%= link_to 'Edit', edit_campaign_path(campaign), :class => "btn btn-mini" %><%= link_to 'Delete', campaign, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-mini" %></span></td>
    <td style="vertical-align:middle"><%= link_to 'Select', "/campaigns/#{campaign.id}/setCurrent", :method => :put, :class => "btn btn-success" %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Campaign', new_campaign_path, :class => "btn" %>
<%= link_to 'Deselect Campaign', "/clearCurrent/", :method => :put, :class => "btn" %>