<!DOCTYPE html>
<html>
<head>
  <title>TickMaster</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <link rel="apple-touch-icon" href="touch-icon-iphone.png" />
  <link rel="apple-touch-icon" sizes="72x72" href="touch-icon-ipad.png" />
  <link rel="apple-touch-icon" sizes="114x114" href="touch-icon-iphone-retina.png" />
  <link rel="apple-touch-icon" sizes="144x144" href="touch-icon-ipad-retina.png" />
  <link rel="shortcut icon" href="favicon.png" />
  <meta name="apple-mobile-web-app-capable" content="yes" />
</head>
<body>
  <% cookie_name = cookies[:campaign_name] %>
    <div class="navbar navbar-static-top">
  <div class="navbar-inner">
    <div class="brand">TickMaster</div>
    <ul class="nav">
      <li class="divider-vertical"></li>
      <li><%= link_to (cookie_name != nil ? cookie_name : 'No Current Campaign'),"/tick_tracks/" %></li>
      <li class="divider-vertical"></li>
      <li><%= link_to 'Manage / Select Campaigns', "/campaigns/" %></li>
      <li class="divider-vertical"></li>
    </ul>
  </div>
</div>
<div class="container">

<%= yield %>
</div>
</body>
</html>
