<!DOCTYPE html>
<html>
<head>
  <title>TickMaster</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <% cookie_name = cookies[:campaign_name] %>
    <div class="navbar navbar-static-top">
  <div class="navbar-inner">
    <div class="brand">TickMaster</div>
    <ul class="nav">
      <li class="divider-vertical"></li>
      <li><%= link_to (cookie_name != nil ? cookie_name : 'No Current Campaign'),"/tick_tracks/" %></li>
      <li class="divider-vertical"></li>
      <li><%= link_to 'Manage / Select Campaigns', "/campaigns/" %></li>
      <li class="divider-vertical"></li>
    </ul>
  </div>
</div>
<div class="container">

<%= yield %>
</div>
</body>
</html>
